<nav id="pagination" class="row text-center">
	{# Paginated in the backend. #}
	{% if items.links() %}
		{{ items.appends(Input.except('page')).links()|raw }}

		{# Paginate via JS. #}
	{% elseif items.count() > 20 %}
		<ul class="pagination">
			<li><a href="#" class="first">&laquo;</a></li>
			<li><a href="#" class="prev">prev</a></li>
			<li class="disabled">
				<a href="#" class="pagedisplay"></a>
			</li>
			<li><a href="#" class="next">next</a></li>
			<li><a href="#" class="last">&raquo;</a></li>
		</ul>
		<div>
			Items per page:
			<select class="form-control pagesize" style="width: 5rem; padding: 0.5rem; display: inline">
				<option selected="selected" value="20">20</option>
				<option value="40">40</option>
				<option value="60">60</option>
				<option value="80">80</option>
				<option value="100">100</option>
			</select>
		</div>
	{% endif %}
</nav>
